<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="foos">Foos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="template-driven-form">Template Driven Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reactive-form">Reactive Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="miscellaneous">Miscellaneous</a>
      </li>
    </ul>
  </div>
</nav>
